# --- CONFIGURATION BASE DE DONNEES ---
DB_USER=qseadmin
DB_PASSWORD=ChAnGeMePlEaSe_987
DB_NAME=qsestudio
DB_PORT_OUT=5432

# --- CONFIGURATION SMTP (NOTIFICATIONS) ---
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM=noreply@qse-studio.local

# --- AUTRES CONFIGURATIONS ---
JWT_SECRET=super_secret_key_change_me_in_production_123456789
NODE_ENV=development
PORT=5000
